@charset 'utf-8';
body {
	background-color: black;
}
.Header .dropdown-menu {
	background-color: #101010;

}
.Header .dropdown-menu>li>a{
	color: white;
}

.Header .dropdown-menu a:hover {
	background-color: gray;
}